<div class="rounded shadow bg-white p-5">
  <div class="row">
    <div class="col-12 d-flex">
      <h2 class="font-weight-light"><i class="fas fa-home"></i> Biens immobiliers</h2>
      <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#propertiesFormModal"
              (click)="resetForm()"><i class="fas fa-plus"></i>
        Ajouter un bien
      </button>
    </div>
  </div>
  <hr class="mt-1 mb-5 bg-dark">
  <div class="row">
    <div *ngFor="let property of properties; let i = index" class="col-12 shadow-sm p-4 mb-3 bg-light">
      <div class="d-flex">
        <h3 class="font-weight-normal">{{ property.title }}</h3>
        <div class="ms-auto">
          <button class="btn btn-primary m-1" type="button" data-bs-toggle="modal" data-bs-target="#propertiesFormModal"
                  (click)="onEditProperty(property)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger m-1" type="button" data-bs-toggle="modal" data-bs-target="#deletePropertyModal"
                  (click)="onDeleteProperty(i)"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <p>
        {{ property.category }}<span *ngIf="property.surface && property.surface !== ''"> de {{ property.surface }}
        m²</span><span *ngIf="property.rooms && property.rooms !== ''"> , {{ property.rooms }} pièce(s).</span>
      </p>
      <p *ngIf="property.price && property.price !== ''"> {{ property.price }} euros </p>
      <p>
        <span class="text-success" *ngIf="property.sold">Vendu</span>
        <span class="text-danger" *ngIf="!property.sold">À vendre</span>
      </p>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="propertiesFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edition d'un bien</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" placeholder="Titre" class="form-control" formControlName="title">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
            </div>
            <select class="form-select" id="inputGroupSelect01" formControlName="category">
              <option value="Appartemnet">Appartement</option>
              <option value="Maison">Maison</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Surface (m²)" class="form-control" formControlName="surface">
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Nombre de pièces" class="form-control" formControlName="rooms">
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control w-100" rows="4" placeholder="Description du bien"
                      formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Prix" class="form-control" formControlName="price">
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" id="formFile" (change)="onUploadFile($event)">
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="sold">
            <label class="form-check-label" for="flexSwitchCheckDefault">
              <span class="text-success" *ngIf="propertiesForm.value.sold">Vendu</span>
              <span class="text-danger" *ngIf="!propertiesForm.value.sold">À vendre</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary" [disabled]="propertiesForm.invalid">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Delete Property Modal-->
<div class="modal fade" id="deletePropertyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supprimer ce bien</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="onConfirmDeleteProperty()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
